version: 2
jobs:
  build:
    working_directory: /go-control-plane
    docker:
      - image: gcr.io/istio-testing/go-control-plane-ci:01-22-2020
    steps:
      - checkout
      - run: make build
      - run: make test
      - run: make integration
      - run:
          command: mkdir logs && cp *.log logs/
          when: on_fail
      - store_artifacts:
          path: /go-control-plane/logs
